.head {
  fill: yellow;
  stroke: rgb(0, 0, 0);
  stroke-width: 10px;
}
.svg-container {
  width: 250px;
  height: 250px;
  resize: both;
  overflow: auto;
  border: 1px dashed #aaa;
}

svg {
  width: 95%;
  height: 95%;
}
.circle {
  display: none;
}
.rect {
  display: none;
}
.triangle {
  display: none;
}
.pentagon {
  display: none;
}
.hexagon {
  display: none;
}
.star {
  display: none;
}
.happy {
  display: none;
}
.sad {
  display: none;
}
.straight {
  display: none;
}
#myinput {
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(50, 50, 50) 15%,
    rgb(100, 100, 100) 35%,
    rgb(150, 150, 150) 50%,
    rgb(200, 200, 200) 75%,
    rgb(250, 250, 250) 100%
  );
  border: solid 1px #000000;
  border-radius: 8px;
  height: 20px;
  width: 400px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
